server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  application:
    name: filtertoday

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  jpa:
    open-in-view: true      #
    hibernate:
      ddl-auto: update      # create, update, ...
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy # ?????? ?????? ??
    show-sql: true          # SQL ?? ?? myName --> my_name
    properties:
      hibernate:
        format_sql: true    # SQL ??? ??